.book_wrapper.clearfix
  = form_for [@product, @book] do |f|
    .book_info.container.clearfix
      %h1 Оформление заказа
      .container
        - if @book.errors.any?
          - @book.errors.full_messages.each do |error|
            = error
            %br
      .col-md-6
        .row
          = render '/products/product', product: @product
      .col-md-6
        .row
          %h2 На кого оформлять бронирование?
          %p
            %label Как вас зовут?
            = f.text_field :name, class: "form-control", placeholder: "Имя"
          %p
            %label Ваш email?
            = f.text_field :email, class: "form-control", placeholder: "Email"
          %p
            %label Вы можете оставить комментарий.
            = f.text_area :comment, class: "form-control", placeholder: "Комментарий"

    .book_time_wrapper
      %h2.container Выберите удобное время для занятий и нажмите "Забронировать"

      .book_time_table.container
        - @product.seven_days.to_a.each do |day|
          .book_day_wrapper
            .book_day_title
              = day
            - @product.working_hours.times do |i|
              = f.fields_for :reservations, f.object.reservations.new do |reservation_field|
                %label.book_time
                  = reservation_field.hidden_field :product_id, value: @product.id
                  = reservation_field.check_box :time, { disabled: unavailable_time?(day, time_cell(@product.start_working, i)) }, "#{day} #{@product.start_working + i.hours}", nil
                  %i.glyphicon.glyphicon-ok
                  = content_tag :span, time_cell(@product.start_working, i)

    .container
      = f.submit 'Разместить заказ', class: 'btn order'
