%h1 Оформление заказа

= render '/products/product', product: @product

= form_for [@product, @book] do |f|
    = f.hidden_field :year
    = f.hidden_field :month
    = f.hidden_field :day
    = f.hidden_field :hours
    = f.hidden_field :minutes

    = f.submit 'Разместить заказ'
