= form_for [:admin, @product] do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, 'error')} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message

  .col-md-5
    .field
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .field
      = f.label :description
      = f.text_area :description, class: 'form-control'
    .field
      = f.label :price
      = f.text_field :price, class: 'form-control'
    .field
      = f.label :working_hours
      = f.text_field :working_hours, class: 'form-control'

    .field
      = f.label :category
      = f.fields_for :category, object(@product, 'category') do |category_fields|
        = category_fields.select :title, categories_for_product, {}, {class: 'form-control'}

    .field
      = f.label :location
      = f.fields_for :location, object(@product, 'location') do |location_fields|
        = location_fields.fields_for :country, object(location_fields.object, 'country') do |country_fields|
          = country_fields.label :title
          = country_fields.text_field :title, class: 'form-control'
        = location_fields.fields_for :city, object(location_fields.object, 'city') do |city_fields|
          = city_fields.label :title
          = city_fields.text_field :title, class: 'form-control'

        = location_fields.label :address
        = location_fields.text_field :address, class: 'form-control'

    .field
      = f.label :height
      = f.text_field :height, class: 'form-control'
    .field
      = f.label :width
      = f.text_field :width, class: 'form-control'
    .field
      = f.label :length
      = f.text_field :length, class: 'form-control'
    .field
      = f.label :ctype
      = f.text_field :ctype, class: 'form-control'
    .field
      = f.label :btype
      = f.text_field :btype, class: 'form-control'
    .actions
      = f.submit 'Save', class: 'btn btn-default'
