.product_wrapper.clearfix.container
  %p#notice= notice

  .product_description.clearfix
    %h1
      = link_to 'Back', root_path, class: "btn btn-default"
      = @product.title

    .col-md-6
      .row
        .single-item
          %div= image_tag("product_images/maneg_1.jpg")
          %div= image_tag("product_images/maneg_2.jpg")
          %div= image_tag("product_images/maneg_3.jpg")

    .col-md-5.col-md-offset-1
      .row
        .product_desctiption_title
          %p 
            Вид спорта:
            %span= @product.category.title

          %p 
            Размеры площадки:
            %span
              = @product.length
              \x
              = @product.width
              \x
              = @product.height

          %p 
            Адрес:
            %span
              = @product.location.country.title
              = @product.location.city.title
              = @product.location.address

          %p 
            Часы работы:
            %span
              = @product.start_working
              = @product.end_working

          %p 
            Покрытие:
            %span= @product.cover.ctype
          %p 
            Тип площадки:
            %span= @product.building.btype
      

    .col-md-12
      .row 
        = @product.description

  - if current_user
    = link_to 'Edit', edit_admin_product_path(@product)
    \|
  = link_to 'Забронировать', new_product_book_path(@product), class: "btn order"


  / %p
  /   %b Description:
  /   = @product.description
  / %p
  /   %b Price:
  /   = @product.price
  / %p
  /   %b Working hours:
  /   = @product.working_hours
  / %p
  /   %b Category:
  /   = @product.category.title
  / %p
  /   %b Location:
  /   = @product.location.country.title
  /   = @product.location.city.title
  /   = @product.location.address
  / %p
  /   %b Size:
  /   = @product.length
  /   \x
  /   = @product.width
  /   \x
  /   = @product.height
  / %p
  /   %b Cover:
  /   = @product.cover.ctype
  / %p
  /   %b Building:
  /   = @product.building.btype
