!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Sport
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'layouts/header'

    -#.container
    -#  - if @book
    -#    = hidden_div_if(@book.empty?, id: 'book') do
    -#      = render @book

    .container
      = yield

    %script{:src => "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js", :type => "text/javascript"}
